.ml--2 {
  margin-left: 0.3rem;
}

.ml-1 {
  margin-left: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.is--1 {
  font-size: 4rem;
}

.logo {
  display: flex;
}

.logo__img {
  flex: 0 0 auto;
}

.logo__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.is-viewport-centered {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}