.logo {
  display: flex;
}

.logo__img {
  flex: 0 0 auto;
}

.logo__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.is-viewport-centered {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.filters {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
